* { margin:0px; padding:0px; }
body { margin:0px; padding:0px; font-size:1rem; line-height:1.4; font-family: "Montserrat", sans-serif; }
h1, h2, h3, h4, h5, h6, p { margin:0px; padding:0px; color:#121212; font-family: "Montserrat", sans-serif; }
p { font-size:1rem; line-height:1.4; }
a { text-decoration:none; }
body.menu-open { overflow: hidden; }
/* Header */
header .navbar { background-color:#fff !important; }
.navbar-brand { max-width:95px; margin-right:0px; padding:0px 0px; }
.navbar-brand img { max-width:100%; }
.navbar-light .navbar-toggler { color: #000; padding: 0px; border-radius: 0px; border: none; outline: none; box-shadow: none; }
.mobile-menu-icons a { display: inline-block;margin-right: 7px; }
.mobile-menu-icons a img { max-width: 18px; }
.mobile-menu-icons { margin-left: auto; margin-right: 10px; }
.mobile-menu-icons a:last-child img { max-width: 20px; }
.navbar-light .navbar-nav .nav-link { border-bottom:1px solid #eee; color:#000; padding:.5rem 1rem; }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover { color:#000; }
.dropdown-toggle { display:flex; justify-content:space-between; align-items:center; }
.navbar-collapse { 
    position: fixed;
    top: 0px;
    right: -240px;
    height: 100vh;
    padding:0px 0px 30px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    width: 240px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-left:1px solid #eee;
}
.collapse.show { right:0px; }
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color:#f9f9f9;
}
.dropdown-item { font-size:0.9rem; border-bottom:1px solid #eee; padding:.5rem 1rem; position:relative; display:flex; justify-content:space-between; align-items:center; }
.dropdown-item:after { display: inline-block; width: 0; height: 0; margin-left: .255em; vertical-align: .255em; content: ""; border-top: .3em solid; border-right: .3em solid transparent; border-bottom: 0; border-left: .3em solid transparent; }
.mega-menu-column .dropdown-item:after { display: none; }
.navbar-nav .dropdown-menu ul > li { list-style:none; }
.navbar-nav .dropdown-menu ul > li > a { padding: .5rem 1rem; display: block; color: #000; border-bottom:1px solid #eee; }
.navbar-nav .dropdown-menu ul { display:none; background-color:#fff; }
/*.navbar-nav .dropdown-menu ul.active { display:block; }*/
.dropdown-item.active, .dropdown-item:active { background-color:#bf975f; }
a.mobile-logo {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 20px 0px;
    border-bottom: 1px solid #eee;
}
button.menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #bf975f;
    color: #fff;
    line-height: 16px;
    text-align: center;
    font-size: 20px;
}
ul.nav-right-side li:nth-child(3), ul.nav-right-side li:nth-child(4), ul.nav-right-side li:nth-child(5) { display:none; }

/* home banner slider */

.youtube-background {
  position: relative !important;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0 !important;
}
.youtube-background iframe {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  transform:translate(0px) !important;
  width: 100% !important;
  height: 100% !important;
}

/* countries */

.home-contries-block {
    background-color: #bf975f;
    padding: 40px 0px;
    text-align:center;
}
.home-contries-block h6 { font-size:1.2rem; margin-bottom:0px; }

.home-contries-block p {
    margin: 0;
}

.countries-wraper {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 10px;
}

.country-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0px 15px;
    text-align: center;
    margin-bottom:10px;
}

.country-item img {
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.country-item p {
    margin-top:6px;
    line-height:20px;
    font-size: 0.9rem;
}
h3.home-contries-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/* about us */

.about-us-block { padding:40px 0px; background-color:#fff; }
.home-about-content {
    margin-top: 30px;
    text-align: center;
}

.home-about-content h4 {
    color: #bf975f;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.home-about-content h3 {
    font-size: 1.4rem;
    margin-bottom:20px;
}

/* home catalogue */

.video-catalog-block {
    text-align: center;
    padding-bottom:30px;
}
.video-catalog-block h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: #343436;
    margin-bottom: 20px;
}

.catalog-video-wraper > a {
    display: block;
}

/* product range */

.product-range-block h2 { font-size: 1.6rem; color: #343436; line-height: 1.2; margin-bottom: 25px; }
.product-range-block { text-align: center; }
.home-product-range-wraper { display: flex; flex-wrap: wrap; }
.product-range-item { flex: 0 0 100%; max-width: 100%; position: relative; margin-bottom:20px; display:none; }
.product-range-item > a { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index:99; }
.product-range-item h6 { font-size:0.9rem; line-height:22px; font-weight:600; text-transform: uppercase; margin-top:15px; }
.product-range-item h6 span { color:#bf975f; margin-right:3px; }
.product-range-cover > img { aspect-ratio:1 / 1; object-fit:cover; width:100%; transition:all 0.5s; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; }
.product-range-cover { overflow:hidden; border: 2px solid #000; }
.product-range-item:hover img { transform:scale(1.1); }
.product-range-view-all > a { background-color: #bf975f; display: table; width: 100%; color: #000; font-weight: 700; padding: 10px 0px; font-size: 1rem; text-transform: uppercase; text-align:center; }
.product-range-view-all { margin: 0px -15px; }

/* company glance block */

h2.company-glance-title { color: #bf975f; font-size: 1.6rem; line-height: 1.2; margin-bottom: 25px; text-align: center; font-weight: 700; margin-top: 30px; }
.company-glance-block { background-color: #ba9666; padding: 40px 0px; text-align: center; }
.company-glance-block h6 { color: #fff; font-weight: 700; font-size:0.9rem; /*margin-top: 10px; margin-bottom: 30px;*/ }
.company-glance-item { display: flex; align-items: center; text-align: left; margin-bottom: 20px; }
.company-glance-item img { margin-right: 15px; max-width:100px; }

/* Testimonials */

.testimonials-block .product-range-view-all { margin: 0px; }
.testimonials-block { padding:40px 0px; }
.testimonial-item  { margin-bottom:20px; }
.testimonial-item > a { display: block; }
h2.testimonial-title { text-align:center; color: #000; font-size: 1.6rem; line-height: 1.2; margin-bottom: 25px; text-align: center; font-weight: 700; }

/* newsletter */

/* newsletter */
.newsletter-block { background-color:#ecc57a; padding:40px 0px; }
.newsletter-block .col-lg-8 { flex-wrap:wrap; display:flex; text-align:center; }
.newsletter-block .col-lg-8 > * { flex:0 0 100%; max-width:100%; }
.newsletter-form {
    position: relative;
    margin-top:15px;
    /*width:70%; padding-left: 30px;*/
}

.newsletter-form input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0px 20px;
}

.newsletter-form button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: #ecc57a;
    font-size: 20px;
}
.about-us-block img, .video-catalog-block img, .testimonial-item img { width:100%; }

/* footer */

footer { background-color: #1e1e20; text-align:center; }
ul.footer-address li { color:#d3d3db; margin-bottom:15px; }
.top-footer { padding: 50px 0px; }
.top-footer p { color:#fff; font-size:1rem; }
ul.footer-links li { list-style: none; }
h3.widget-title { font-size:1.2rem; font-weight:700; color: #fff; margin-top:20px; margin-bottom:30px; text-transform:uppercase; }
ul.footer-links li a { font-size:1rem; color:#fff; padding: 7px 0px; display: block; text-decoration: none; }
ul.footer-address li { position:relative; padding-left:0px; font-size:1rem; color:#fff; }
ul.footer-address li i { position:static; top:4px; left:0px; color:#f4c36d; display:table; margin:0px auto 7px; }
ul.footer-address li:nth-child(3) i { top: 10px; }
.lower-footer { padding:15px 0px; text-align:center; }
.lower-footer ul { margin: 0px; padding: 0px; display:table; /*margin-left:auto;*/ margin:0px auto; }
.lower-footer ul li { display: inline-block; vertical-align: middle; margin-left:15px; }
.lower-footer ul li a { color: #fff; text-decoration:none; font-size:0.9rem; }
.lower-footer p { color: #fff; font-size:0.9rem; }
.footer-social-links a { display: inline-block; color: #f4c36d; margin-right: 15px; font-size: 18px; }
.footer-social-links { margin-top:40px; margin-bottom:40px; }

.testi-row-item { display:none; }
.search-form-dropdown {
    position: absolute;
    top: 100%;
    right: 15px;
    z-index: 99;
    background-color: #eee;
    padding: 15px;
    border-top: none;
    display:none;
}
.search-form-dropdown.active { display:block; }

.search-form-dropdown input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #fff;
    padding: 0px 25px;
}
.home-banner-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.home-banner-caption h3 {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.home-banner-caption h3 i {
    color: red;
    margin-left: 2px;
}
ul.slick-dots {}

ul.slick-dots li {
    list-style: none;
    display: inline-block;
    height: 10px;
}

ul.slick-dots li button {
    height: 10px;
    width: 10px;
    border: none;
    text-indent: 999px;
    overflow: hidden;
    margin: 0px 3px;
    border-radius: 100%;
    background-color: #6e6e6e;
}

#video-catalogue-slider ul.slick-dots {
    margin-top: 20px;
}

ul.slick-dots li.slick-active button {
    background-color: #c0975f;
}
.whatsapp-chat-wraper { position:fixed; z-index:99; top:50%; display:flex; justify-content:center; transition-duration:.4s;transition-timing-function:cubic-bezier(1,0,0,1); left:0; transform: translate(0%, 50%); margin-top:-20px; }
.whatsapp-chat-btn { height:48px; width:45px; background:#4dc247; display:flex; align-items:center; justify-content:center; font-size:26px; color:#fff; border-radius:0px 25px 25px 0px; padding-right:8px; }
.whatsapp-chat-btn + span {
    /* display: none; */
    position: absolute;
    top: -15px;
    font-weight: 900;
    font-size: 10px;
    left: 2px;
}
.whatsapp-chat-btn + span + span {
    position: absolute;
    bottom: -44px;
    font-weight: 900;
    font-size: 10px;
    left: 2px;
}
.whatsapp-chat-btn:hover { text-decoration:none; color:#fff;}
footer .logo { max-width: 210px; margin: 0px auto; }

@media only screen and (min-width:480px) {
.country-item img { width:auto; max-height:50px; object-fit:inherit; }
.product-range-item { margin-bottom:30px; }
.product-range-item h6 { margin:15px 20px 0px; }
.home-product-range-wraper { margin:0px -15px; }
.product-range-item { padding:0px 15px; }
.product-range-item:not(.product-range-item:nth-child(1), .product-range-item:nth-child(2)) { flex: 0 0 50%; max-width:50%; }
}


@media only screen and (min-width:576px) { 
.company-glance-item { display:block; text-align:center; }
.company-glance-item img { display:table; margin:0px auto 15px; }
.home-banner-caption h3 { font-size:1.5rem; }
.home-banner-caption { padding-bottom:25px; }
}


@media only screen and (min-width:768px) {  
.country-item { flex: 0 0 25%; max-width:25%; }
h3.home-contries-title { font-size:1.6rem; margin-bottom:30px; }
.home-about-content h4, .video-catalog-block h2, .home-about-content h3 { font-size:1.6rem; }
.product-range-block h2 { font-size:2rem; }
.product-range-item h6 { font-size:1.2rem; }
.newsletter-block .col-lg-8 { flex-wrap:nowrap; text-align:left; }
.newsletter-block .col-lg-8 > * { flex:0 0 auto; max-width:auto; }
.newsletter-form { margin-top:0px; width:70%; padding-left: 30px;}
.navbar-brand { max-width:130px; }
.home-banner-caption h3 { font-size:1.7rem; }
.home-banner-caption { padding-bottom:40px; }
}


@media only screen and (min-width:991px) {  
footer { text-align:left; }
ul.footer-address li i { position:absolute; top:10px; }
ul.footer-address li { padding-left:30px; }
.lower-footer { text-align:left; }
.lower-footer ul { margin-left:auto; margin-right:0px; }
.home-about-content { text-align:left; margin-top:0px; }
.about-us-block .row { align-items:center; }
.product-range-item { flex:0 0 50%; max-width:50%; }
.product-range-item:not(.product-range-item:nth-child(1), .product-range-item:nth-child(2)) { flex:0 0 25%; max-width:25%; }
.home-product-range-wraper { justify-content:center; }
.newsletter-form { margin-top:0px; }
.company-glance-block .col-lg-3 { -webkit-box-flex:0; -ms-flex:0 0 20%; flex:0 0 20%; max-width:20%; }
}

@media only screen and (min-width:1199px) { 
body { padding-top:110px; }
header { position:fixed; top:0px; left:0px; width:100%; z-index:999; background-color:#fff; }
.country-item { flex:0 0 16.666%; max-width:16.666%; }
.mobile-menu-icons, .navbar-light .navbar-toggler, button.menu-close, a.mobile-logo { display:none; }
.navbar-collapse { border:none; position:static; top: 0px; right:0px; height:auto; padding: 0px 0px 0px; background-color: #fff; overflow-y: auto; width:auto; }
.navbar-light .navbar-nav .nav-link { border-bottom:none; }
ul.nav-right-side li:nth-child(3), ul.nav-right-side li:nth-child(4), ul.nav-right-side li:nth-child(5) { display:inline-block; }
.navbar-light .navbar-nav .nav-link i { margin-right:3px; }
nav a.navbar-brand img { position: relative; z-index: 2; transition: all .5s; max-width: 100px; height: auto; /*filter: brightness(8);*/ }
nav .navbar-collapse { align-items:flex-end; }
.dropdown.mega-menu { position: static; }
.dropdown.mega-menu {
    position: static;
}

.navbar-nav .dropdown-menu {
    background-color: #be9257;
    min-width: 1170px;
    width: calc(100% - 30px);
    padding: 15px;
    top: 100%;
    left:15px;
    display: flex;
    flex-wrap: wrap;
    opacity:0;
    visibility:hidden;
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
    -moz-transition:all 0.5s;
}
.navbar-nav .dropdown.mega-menu:hover > .dropdown-menu { opacity:1; visibility:visible; }
.navbar-nav .dropdown-menu ul { display:block; background-color:transparent; position:relative; margin-bottom:12px; }
.navbar-nav .dropdown-menu ul:after { position: absolute; content: ''; opacity: .8; width: 2px; background: #fff; left: 0; height: calc(100% - 14px); top: 0; }
.navbar-nav .dropdown-menu ul > li:before {
    content: "\f054";
    position: relative;
    opacity: .8;
    font-weight: 900;
    font-size: 10px;
    color: #fff;
    margin-right: 6px;
    font-family: "FontAwesome";
}
.navbar-nav .dropdown-menu ul > li:after {  
    height: 2px;
    width: 10px;
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    opacity: .8;
    transition: .3s;
}

.dropdown-item:after {
    display: none;
}

.mega-menu-column {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 9px;
}
.dropdown-item {
    font-size: 15px;
    border-bottom: none;
    padding: 0px;
    position: relative;
    display: block;
    color: #fff;
    font-weight:600;
}
.dropdown-item:hover, .dropdown-item:focus { background-color:transparent; color:#fff; }
.navbar-nav .dropdown-menu ul > li {
    list-style: none;
    position: relative;
    margin-left: 5px;
    transition: all .5s;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 30px;    
}
.navbar-nav .dropdown-menu ul > li > a {
    display: block;
    color: #fff;
    border-bottom: none;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
    opacity: .8;
    line-height: 23px;
    padding: 3px 0px;
    text-decoration: none;
    position:relative;
}
.home-contries-block, .about-us-block, .testimonials-block { padding:60px 0px; }
h3.home-contries-title { font-size: 1.6rem; margin-bottom:30px; }
.countries-wraper { margin:0px -15px 30px; }
.home-contries-block h6 { font-size:1.4rem; }
.country-item { margin-bottom:20px; }
.home-about-content p { margin-bottom:15px; }
.home-about-content h4 { font-size:1.2rem; }
.video-catalog-block h2 { font-size:2rem; }
.video-catalog-block { padding-bottom:60px; }
.product-range-block h2 { font-weight:600; }
.product-range-item h6 { font-size:1rem; }
.product-range-block h2 { margin-bottom:35px; }
.product-range-view-all > a { width:auto; padding:10px 80px; margin:0px auto; }
h2.company-glance-title { margin:50px 0px 30px; font-size:2rem; }\
.company-glance-block h6 { font-weight:600; }
h2.testimonial-title { margin-bottom:40px; font-size:2rem; } 
.testimonial-item { margin-bottom:30px; }
.top-footer .logo img { max-width: 120px; }
.whatsapp-chat-btn { height: 80px; width: 80px; font-size: 40px; border-radius: 100%; padding-right: 0px; }
.whatsapp-chat-wraper { top: auto; bottom:60px; left: auto; transform: translate(0%, 0%); margin-top: 0px; right:20px; }
.whatsapp-chat-btn + span { left: 20px; }
.whatsapp-chat-btn + span + span { left:7px; text-align:center; }
}